body {
    padding: 100px;

}

h1 {
    padding-top: 50px;
}

.nottheme {}

.darktheme {
    background-color: black;
}

.whitetheme {
    background-color: white;
}

.purpleheme {
    background-color: rgb(148, 67, 148);
}